{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% if breachNotice.reviewRequiredDate != null %}

  {% set messageHtml %}
    {% if breachNotice.reviewEvent == 'MERGE' %}
      A Merge occurred on {{ breachNotice.reviewRequiredDate | toUserDate() }} in NDelius and important details have changed. This report should be reviewed before proceeding. Please confirm all information or discard this report.
    {% endif %}
    {% if breachNotice.reviewEvent == 'UNMERGE' %}
      An Unmerge occurred on {{ breachNotice.reviewRequiredDate | toUserDate() }} in NDelius and important details have changed. This report should be reviewed before proceeding. Please confirm all information or discard this report.
    {% endif %}
    {% if breachNotice.reviewEvent == 'EVENT_MOVE' %}
      A Move Event occurred on {{ breachNotice.reviewRequiredDate | toUserDate() }} in NDelius and important details have changed. This report should be reviewed before proceeding. Please confirm all information or discard this report.
    {% endif %}
  {% endset -%}

  {{ mojAlert({
    variant: "warning",
    title: "Review Required",
    showTitleAsHeading: true,
    dismissible: false,
    html: messageHtml,
    attributes: {
      id: "reviewAlert"
    }
  }) }}
{% endif %}
