REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

#SNS values for Event Handling
SNS_ENABLED=
BREACH_NOTICE_PUBLISH_SNS_TOPIC_ARN=
BREACH_NOTICE_PUBLISH_SNS_HOST=
BREACH_NOTICE_PUBLISH_SNS_KEY=
BREACH_NOTICE_PUBLISH_SNS_SECRET=

#NDelius Integration
NDELIUS_INTEGRATION_URL=
NDELIUS_INTEGRATION_KEY=
NDELIUS_INTEGRATION_SECRET=
NDELIUS_INTEGRATION_TIMEOUT_RESPONSE=
NDELIUS_INTEGRATION_TIMEOUT_DEADLINE=
NDELIUS_INTEGRATION_ENABLED=
