{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
  {% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-grid-row">

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
    }) }}

    <div class="govuk-grid-column-one-third">

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Basic details',
          href: '/basic-details',
          active: true
        }, {
          text: 'Warning type',
          href: '/warning-type'
        }, {
          text: 'Warning details',
          href: '/warning-details'
        }, {
          text: 'Next appointment',
          href: '/next-appointment'
        }, {
          text: 'Check your answers',
          href: '/check-your-report'
        }]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-x1">Breach Notice - Basic Details</h1>
      <b class="govuk-fieldset__legend--m">Title and Full Name
      </b><br/>
      {{ breachNotice.titleAndFullName }}
      <p/><br>

      <b class="govuk-fieldset__legend--m">CRN
      </b><br/>
      {{ breachNotice.crn }}
      <p/>

      <b class="govuk-fieldset__legend--m">Postal Address</b><br/>
      {{ breachNotice.offenderAddress.buildingName }}<br>
      {{ breachNotice.offenderAddress.buildingNumber }} {{ breachNotice.offenderAddress.streetName }}<br>
      {{ breachNotice.offenderAddress.district }}<br>
      {{ breachNotice.offenderAddress.townCity }}<br>
      {{ breachNotice.offenderAddress.county }}<br>
      {{ breachNotice.offenderAddress.postcode }}<br>

      {{ govukSelect({
        id: "alternate-address",
        name: "alternateAddress",
        label: {
          text: "Or pick alternative address",
          classes: "govuk-fieldset__legend--m"
        },
        items: alternateAddressOptions
      }) }}

      <b class="govuk-fieldset__legend--m">Reply Address</b><br/>
      Reply House<br>
      Newcastle Upon Tyne<br>
      Tyne and Wear<br>
      NE1 2SW<br><br>

      {{ govukSelect({
        id: "alternate-reply-address",
        name: "alternateReplyAddress",
        label: {
          text: "Or pick alternative address",
          classes: "govuk-fieldset__legend--m"
        },
        items: [
          {
            value: "Address 1",
            text: "First address"
          },
          {
            value: "Address 2",
            text: "Second Address",
            selected: true
          },
          {
            value: "Address 3",
            text: "Third Address"
          },
          {
            value: "Address 4",
            text: "Fourth Address"
          }
        ]
      }) }}

      {{ mojDatePicker({
        id: "date-of-letter",
        name: "dateOfLetter",
        label: {
          text: "Date of letter",
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: "For example, 17/5/2024."
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Office Reference (if any)",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "office-reference",
        name: "officeReference"
      }) }}

      {{ mojButtonMenu({
        items: [{
          text: "Continue",
          type: "submit"
        }, {
          text: "View draft",
          href: "#",
          classes: "govuk-button--secondary"
        }, {
          text: "Close",
          href: "/basic-details",
          classes: "govuk-button--secondary"
        }]
      }) }}

    </div>
  </div>
</form>

{% endblock %}