{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
  {% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-grid-row">

    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
    }) }}

    <div class="govuk-grid-column-one-third">
      {% set alternateAddressHtml %}
        {{ govukSelect({
          id: "alternate-address",
          name: "alternateAddress",
          label: {
            text: "Please pick an alternative postal address",
            classes: "govuk-fieldset__legend--m"
          },
          items: alternateAddressOptions
        }) }}
      {% endset -%}

      {% set replyAddressHtml %}
        {{ govukSelect({
          id: "alternate-reply-address",
          name: "alternateReplyAddress",
          label: {
            text: "Or pick alternative address",
            classes: "govuk-fieldset__legend--m"
          },
          items: replyAddressOptions
        }) }}
      {% endset -%}

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Basic details',
          href: '/basic-details',
          active: true
        }, {
          text: 'Warning type',
          href: '/warning-type'
        }, {
          text: 'Warning details',
          href: '/warning-details'
        }, {
          text: 'Next appointment',
          href: '/next-appointment'
        }, {
          text: 'Check your answers',
          href: '/check-your-report'
        }]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-x1">Breach Notice - Basic Details</h1>
      <b class="govuk-fieldset__legend--m">Title and Full Name
      </b><br/>
      {{ breachNotice.titleAndFullName }}
      <p/><br>

      <b class="govuk-fieldset__legend--m">CRN
      </b><br/>
      {{ breachNotice.crn }}
      <p/>

      <b class="govuk-fieldset__legend--m">Postal Address</b><br/>
      {{ breachNotice.offenderAddress.buildingName }}<br>
      {{ breachNotice.offenderAddress.addressNumber }} {{ breachNotice.offenderAddress.streetName }}<br>
      {{ breachNotice.offenderAddress.district }}<br>
      {{ breachNotice.offenderAddress.townCity }}<br>
      {{ breachNotice.offenderAddress.county }}<br>
      {{ breachNotice.offenderAddress.postcode }}<br>

      {{ govukRadios({
        name: "offenderAddressSelectOne",
        fieldset: {
          legend: {
            text: "Would you like to use the postal address above for this breach notice?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select one option"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: breachNotice.useDefaultAddress
          },
          {
            value: "No",
            text: "No, I would like to use a different postal address ",
            checked: breachNotice.useDefaultAddress === false,
            conditional: {
            html: alternateAddressHtml
          }
          }
        ]
      }) }}

      <b class="govuk-fieldset__legend--m">Reply Address</b><br/>
      {{ breachNotice.replyAddress.buildingName }}<br>
      {{ breachNotice.replyAddress.addressNumber }} {{ breachNotice.replyAddress.streetName }}<br>
      {{ breachNotice.replyAddress.district }}<br>
      {{ breachNotice.replyAddress.townCity }}<br>
      {{ breachNotice.replyAddress.county }}<br>
      {{ breachNotice.replyAddress.postcode }}<br>
      <br>
      {{ govukRadios({
        name: "replyAddressSelectOne",
        fieldset: {
          legend: {
            text: "Would you like to use the reply address above for this breach notice?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select one option"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: breachNotice.useDefaultReplyAddress === true
          },
          {
            value: "No",
            text: "No, I would like to use a different reply address ",
            checked: breachNotice.useDefaultReplyAddress === false,
            conditional: {
            html: replyAddressHtml
          }
          }
        ]
      }) }}

      {{ mojDatePicker({
        id: "date-of-letter",
        name: "dateOfLetter",
        value: breachNotice.dateOfLetter,
        label: {
          text: "Date of letter",
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: "For example, 17/5/2024."
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Office Reference (if any)",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "office-reference",
        value: breachNotice.referenceNumber,
        name: "officeReference"
      }) }}

      {{ mojButtonMenu({
        items: [{
          text: "Continue",
          type: "submit"
        }, {
          text: "View draft",
          href: "#",
          classes: "govuk-button--secondary"
        }, {
          text: "Close",
          href: "/basic-details",
          classes: "govuk-button--secondary"
        }]
      }) }}

    </div>
  </div>
</form>

{% endblock %}