{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
    {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

    <form method="post">

        {% set errorList =[
            { text: errorMessages.pdfRenderError.text } if errorMessages.pdfRenderError else None
        ] | reject("undefined") %}

        {% if errorMessages | length > 0 %}
            {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

            {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
        {% endif %}

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

                {% include "pages/side-nav.njk" %}

            </div>

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-x1">Breach Notice - Check Your Answers</h1>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Basic Details
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a id="change-basic-details" class="govuk-link"
                                   href="/basic-details/{{ breachNotice.id }}">Change<span
                                            class="govuk-visually-hidden">Change</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Title and Full Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.titleAndFullName == null %}
                                        <a href="/basic-details/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {{ breachNotice.titleAndFullName }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.titleAndFullName == null %}
                                        <span class="govuk-tag--light-blue">
                                                                  Required
                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    CRN
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ breachNotice.crn }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Postal Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.offenderAddress == null %}
                                        <a href="/basic-details/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {% if breachNotice.offenderAddress.buildingName != null %} {{ breachNotice.offenderAddress.buildingName }}
                                            <br> {% endif %}
                                        {% if breachNotice.offenderAddress.buildingNumber != null or breachNotice.offenderAddress.streetName != null %} {{ breachNotice.offenderAddress.buildingNumber }} {{ breachNotice.offenderAddress.streetName }}
                                            <br> {% endif %}
                                        {% if breachNotice.offenderAddress.district != null %} {{ breachNotice.offenderAddress.district }}
                                            <br> {% endif %}
                                        {% if breachNotice.offenderAddress.townCity != null %} {{ breachNotice.offenderAddress.townCity }}
                                            <br> {% endif %}
                                        {% if breachNotice.offenderAddress.county != null %} {{ breachNotice.offenderAddress.county }}
                                            <br> {% endif %}
                                        {% if breachNotice.offenderAddress.postcode != null %} {{ breachNotice.offenderAddress.postcode }} {% endif %}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.offenderAddress == null %}
                                        <span class="govuk-tag--light-blue">
                                                        Required
                                            </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Reply Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.replyAddress == null %}
                                        <a href="/basic-details/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {% if breachNotice.replyAddress.buildingName != null %} {{ breachNotice.replyAddress.buildingName }}
                                            <br> {% endif %}
                                        {% if breachNotice.replyAddress.buildingNumber != null or breachNotice.replyAddress.streetName != null %} {{ breachNotice.replyAddress.buildingNumber }} {{ breachNotice.replyAddress.streetName }}
                                            <br> {% endif %}
                                        {% if breachNotice.replyAddress.district != null %} {{ breachNotice.replyAddress.district }}
                                            <br> {% endif %}
                                        {% if breachNotice.replyAddress.townCity != null %} {{ breachNotice.replyAddress.townCity }}
                                            <br> {% endif %}
                                        {% if breachNotice.replyAddress.county != null %} {{ breachNotice.replyAddress.county }}
                                            <br> {% endif %}
                                        {% if breachNotice.replyAddress.postcode != null %} {{ breachNotice.replyAddress.postcode }} {% endif %}
                                    {% endif %}

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.replyAddress == null %}
                                        <span class="govuk-tag--light-blue">
                                                                    Required
                                                        </span>
                                    {% endif %}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of Letter
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.dateOfLetter == null %}
                                        <a href="/basic-details/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {{ dateOfLetter }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.dateOfLetter == null %}
                                        <span class="govuk-tag--light-blue">
                            Required
                </span>
                                    {% endif %}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Office Reference
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.referenceNumber == null %}
                                        <a href="/basic-details/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {{ breachNotice.referenceNumber }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.referenceNumber == null %}
                                        <span class="govuk-tag--light-blue">
                                          Required
                              </span>
                                    {% endif %}
                                </dd>
                            </div>

                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Warning Type
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                {% if breachNotice.basicDetailsSaved %}
                                    <a id="change-warning-types" class="govuk-link"
                                       href="/warning-type/{{ breachNotice.id }}">Change<span
                                                class="govuk-visually-hidden">Change</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Warning Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.breachNoticeTypeDescription == null and breachNotice.basicDetailsSaved %}
                                        <a href="/warning-type/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {{ breachNotice.breachNoticeTypeDescription }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.breachNoticeTypeDescription == null %}
                                        <span class="govuk-tag--light-blue">
                                          Required
                              </span>
                                    {% endif %}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Sentence Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.breachSentenceTypeDescription == null and breachNotice.basicDetailsSaved %}
                                        <a href="/warning-type/{{ breachNotice.id }}" class="govuk-link">enter required
                                            information</a>
                                    {% else %}
                                        {{ breachNotice.breachSentenceTypeDescription }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.breachSentenceTypeDescription == null %}
                                        <span class="govuk-tag--light-blue">
                                                      Required
                                          </span>
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Warning Details
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                {% if breachNotice.warningTypeSaved %}
                                    <a id="change-warning-details" class="govuk-link"
                                       href="/warning-details/{{ breachNotice.id }}">Change<span
                                                class="govuk-visually-hidden">Change</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Failures recorded on this order
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if ( breachNotice.breachNoticeContactList == null or breachNotice.breachNoticeContactList.length == 0 ) and breachNotice.warningTypeSaved %}
                                        <a href="/warning-details/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {% for contact in breachNotice.breachNoticeContactList %}
                                            <pr>{{ contact.contactDateString }} {{ contact.contactTimeString }}
                                                - {{ contact.contactType }} - {{ contact.contactOutcome }}</pr>
                                        {% endfor %}
                                    {% endif %}
                                </dd>
                                {% if breachNotice.breachNoticeContactList == null or breachNotice.breachNoticeContactList.length == 0 %}
                                    <dd class="govuk-summary-list__actions">

                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>

                                    </dd>
                                {% endif %}
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Failures being enforced
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if ( breachNotice.breachNoticeRequirementList == null or breachNotice.breachNoticeRequirementList.length == 0 ) and breachNotice.warningTypeSaved %}
                                        <a href="/warning-details/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {% for req in breachNotice.breachNoticeRequirementList %}
                                            <p>{{ req.requirementTypeMainCategoryDescription }} {% if req.requirementTypeSubCategoryDescription != null %} {{ req.requirementTypeSubCategoryDescription }} {% endif %} {% if req.rejectionReason != null %}- {{ req.rejectionReason }}{% endif %}</p>
                                        {% endfor %}
                                    {% endif %}
                                </dd>
                                {% if breachNotice.breachNoticeRequirementList == null or breachNotice.breachNoticeRequirementList.length == 0 %}
                                    <dd class="govuk-summary-list__actions">

                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>

                                    </dd>
                                {% endif %}
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Response Required By
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.responseRequiredByDate == null and breachNotice.warningTypeSaved %}
                                        <a href="/warning-details/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ responseRequiredByDate }}
                                    {% endif %}
                                </dd>
                                {% if breachNotice.responseRequiredByDate == null %}
                                    <dd class="govuk-summary-list__actions">

                                        <span class="govuk-tag--light-blue">
                                                                    Required
                                                        </span>
                                    </dd>
                                {% endif %}
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Next Appointment
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                {% if breachNotice.warningDetailsSaved %}
                                    <a id="change-next-appointment" class="govuk-link"
                                       href="/next-appointment/{{ breachNotice.id }}">Change<span
                                                class="govuk-visually-hidden">Change</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Responsible Officer
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.responsibleOfficer == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ breachNotice.responsibleOfficer }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.responsibleOfficer == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Contact Number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.contactNumber == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ breachNotice.contactNumber }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.contactNumber == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Next Appointment Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.nextAppointmentType == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ breachNotice.nextAppointmentType }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.nextAppointmentType == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Next Appointment Date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.nextAppointmentDate == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ nextAppointmentDate }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.nextAppointmentDate == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Next Appointment Time
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.nextAppointmentDate == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ nextAppointmentTime }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.nextAppointmentDate == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Next Appointment Location
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.nextAppointmentLocation == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ breachNotice.nextAppointmentLocation }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.nextAppointmentLocation == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                                Required
                                                                                    </span>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Next Appointment Officer
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if breachNotice.nextAppointmentOfficer == null and breachNotice.warningDetailsSaved %}
                                        <a href="/next-appointment/{{ breachNotice.id }}" class="govuk-link">enter
                                            required information</a>
                                    {% else %}
                                        {{ breachNotice.nextAppointmentOfficer }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if breachNotice.nextAppointmentOfficer == null %}
                                        <span class="govuk-tag--light-blue">
                                                                                  Required
                                                                      </span>
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                {% if reportValidated %}

                    {{ mojButtonMenu({
                        items: [
                            {
                                text: "Publish",
                                preventDoubleClick: "true",
                                type: "submit",
                                attributes: {
                                    id: "publish"
                                }
                            }, {
                                text: "View Draft Report",
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true",
                                href: '/pdf/'+breachNotice.id,
                                attributes: {
                                    target: "_blank"
                                }
                            }, {
                                text: "Delete draft",
                                href: '/report-deleted/'+breachNotice.id,
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true"
                            }, {
                                text: "Close",
                                href: "/basic-details",
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true"
                            }]
                    }) }}

                {% else %}

                    {{ mojButtonMenu({
                        items: [
                            {
                                text: "View Draft Report",
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true",
                                href: '/pdf/'+breachNotice.id,
                                attributes: {
                                target: "_blank"
                            }
                            }, {
                                text: "Delete draft",
                                href: '/report-deleted/'+breachNotice.id,
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true"
                            }, {
                                text: "Close",
                                href: "/close",
                                classes: "govuk-button--secondary",
                                preventDoubleClick: "true"
                            }]
                    }) }}

                {% endif %}

            </div>
        </div>

    </form>

{% endblock %}