{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/table/macro.njk" import govukTable %}

  <form method="post">
<input type="hidden" name="_csrf" value="{{ csrfToken }}">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Basic details',
          href: '/basic-details/'+breachNotice.id
        }, {
          text: 'Warning type',
          href: '/warning-type/'+breachNotice.id
        }, {
          text: 'Warning details',
          href: '/warning-details/'+breachNotice.id
        }, {
          text: 'Next appointment',
          href: '/next-appointment/'+breachNotice.id,
          active: true
        }, {
          text: 'Check Your answers',
          href: '/check-your-report/'+breachNotice.id
        }]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-x1">Breach Notice - Next Appointment</h1>

      <b class="govuk-fieldset__legend--m">Responsible Officer</b><br/>
      Test User<p/><br>

      <b class="govuk-fieldset__legend--m">Contact Number</b><br/>
      07707456789<p/>

      {% set phoneHtml %}
        {{ govukInput({
          id: "contact-by-phone",
          name: "contactByPhone",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Phone number"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "contact",
        fieldset: {
          legend: {
            text: "Would you like to use the contact number above for this breach notice?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select one option"
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No, I would like to use a different contact number ",
            conditional: {
            html: phoneHtml
          }
          }
        ]
      }) }}





      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend--m">
            Would you like to select a next appointment?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Planned Office Visit, 12/11/2024, 10:00, Probation Office, Cobias Titan
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Planned Office Visit, 12/11/2024, 10:00, Probation Office, Cobias Titan
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                Planned Office Visit, 12/11/2024, 10:00, Probation Office, Cobias Titan
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Planned Office Visit, 12/11/2024, 10:00, Probation Office, Cobias Titan
              </label>
            </div>
          </div>
        </fieldset>
      </div>



{#      {{ govukTable({#}
{#        caption: "Select the failures being enforced",#}
{#        captionClasses: "govuk-table__caption--m",#}
{#        firstCellIsHeader: true,#}
{#        head: [#}
{#          {#}
{#            text:""#}
{#          },#}
{#          {#}
{#            text: "Date"#}
{#          },#}
{#          {#}
{#            text: "Amount"#}
{#          },#}
{#          {#}
{#            text: "Outcome"#}
{#          }#}
{#        ],#}
{#        rows: [#}
{#          [#}
{#            {#}
{#              html:'              <div class="govuk-radios__item">#}
{#        <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">#}
{#        <label class="govuk-label govuk-radios__label" for="signIn">#}
{#        </label>#}
{#        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">#}
{#        </div>#}
{#      </div>'#}
{#            },#}
{#            {#}
{#              text: "17/02/1985"#}
{#            },#}
{#            {#}
{#              text: "Planned Office Visit (NS)"#}
{#            },#}
{#            {#}
{#              text: "Unacceptable Absence"#}
{#            }#}
{#          ],#}
{#          [#}
{#            {#}
{#              html:'              <div class="govuk-radios__item">#}
{#        <input class="govuk-radios__input" id="signIn2" name="signIn2" type="radio" value="government-gateway" aria-describedby="signIn-item-hint2">#}
{#        <label class="govuk-label govuk-radios__label" for="signIn2">#}
{#        </label>#}
{#        <div id="signIn-item-hint2" class="govuk-hint govuk-radios__hint">#}
{#        </div>#}
{#      </div>'#}
{#            },#}
{#            {#}
{#              text: "17/02/1985"#}
{#            },#}
{#            {#}
{#              text: "CP/UPW Appointment"#}
{#            },#}
{#            {#}
{#              text: "Sent Home (behaviour)"#}
{#            }#}
{#          ],#}
{#          [#}
{#            {#}
{#              html:'              <div class="govuk-radios__item">#}
{#        <input class="govuk-radios__input" id="signIn3" name="signIn3" type="radio" value="government-gateway" aria-describedby="signIn-item-hint3">#}
{#        <label class="govuk-label govuk-radios__label" for="signIn3">#}
{#        </label>#}
{#        <div id="signIn-item-hint3" class="govuk-hint govuk-radios__hint">#}
{#        </div>#}
{#      </div>'#}
{#            },#}
{#            {#}
{#              text: "17/02/1985"#}
{#            },#}
{#            {#}
{#              text: "CP/UPW Appointment"#}
{#            },#}
{#            {#}
{#              text: "Sent Home (behaviour)"#}
{#            }#}
{#          ]#}
{#        ]#}
{#      }) }}#}












      {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contactByEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Email address"
          }
        }) }}
      {% endset -%}



      {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contactByText",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        }) }}
      {% endset -%}



{#      <b class="govuk-fieldset__legend--m">Next Appointment Type</b><br/>#}
{#      Planned Office Visit<p/><br>#}

{#      <b class="govuk-fieldset__legend--m">Next Appointment Date</b><br/>#}
{#      01/01/1901<p/><br>#}

{#      <b class="govuk-fieldset__legend--m">Next Appointment Time</b><br/>#}
{#      09:00<p/><br>#}

{#      <b class="govuk-fieldset__legend--m">Next Appointment Location</b><br/>#}
{#      Named Probation Office<p/><br>#}

{#      <b class="govuk-fieldset__legend--m">Next Appointment Officer</b><br/>#}
{#      Some Officere<p/><br>#}

      {{ mojButtonMenu({
        items: [{
          text: "Continue",
          href: "/check-your-report"
        }, {
          text: "View Draft Report",
          classes: "govuk-button--secondary",
          preventDoubleClick: "true",
          type: "submit",
          name: "action",
          value: "viewDraft"
        }, {
          text: "Refresh from Delius",
          href: "#",
          classes: "govuk-button--secondary"
        }, {
          text: "Close",
          href: "/basic-details",
          classes: "govuk-button--secondary"
        }]
      }) }}

    </div>
  </div>

</form>
{% endblock %}
