{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    <form method="post">

        {% set errorList =[
            { text: errorMessages.contactByPhone.text, href: "#contact-by-phone" } if errorMessages.contactByPhone else None
        ] | reject("undefined") %}

        {% if errorMessages | length > 0 %}
            {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

            {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
        {% endif %}

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

                {% include "pages/side-nav.njk" %}

            </div>

            <div class="govuk-grid-column-two-thirds">
              {% include "partials/review-required.njk" %}

                <h1 class="govuk-heading-l">Breach Notice - Next Appointment</h1>

                <h2 class="govuk-heading-m">Responsible Officer</h2>
                <p id="responsible-officer">{{ responsibleOfficerDisplayValue }}</p>

                <h2 class="govuk-heading-m">Contact Number</h2>
                <p id="contact-number">{{ nextAppointmentDetails.responsibleOfficer.telephoneNumber }}</p>

                {% set phoneHtml %}
                    {{ govukInput({
                        id: "contact-by-phone",
                        name: "contactByPhone",
                        type: "tel",
                        autocomplete: "tel",
                        value: breachNotice.optionalNumber,
                        classes: "govuk-!-width-one-third",
                        label: {
                            text: "Phone number"
                        },
                        errorMessage: {
                            text: errorMessages.contactByPhone.text
                        } if errorMessages.contactByPhone.text
                    }) }}
                {% endset -%}

                {{ govukRadios({
                    name: "useContactNumber",
                    value: useContactNumber,
                    fieldset: {
                        legend: {
                            text: "Would you like to use the contact number above for this breach notice?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Select one option"
                    },
                    items: [
                        {
                            value: "Yes",
                            text: "Yes"
                        },
                        {
                            value: "No",
                            text: "No, I would like to use a different contact number ",
                            conditional: {
                            html: phoneHtml
                        }
                        }
                    ]
                }) }}

              {% set appointmentSelection %}
                {{ govukRadios({
                  name: "appointmentSelection",
                  items: appointmentRadioButtons,
                  errorMessage: {
                    text: "No future appointments are available to select at this time. Please add an appointment in NDelius and refresh this screen if one is required"
                  } if appointmentRadioButtons.length <= 0
                }) }}
              {% endset -%}

              {{ govukRadios({
                name: "selectNextAppointment",
                value: selectNextAppointment,
                fieldset: {
                  legend: {
                    text: "Do you want to select a Next Appointment?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "Select one option"
                },
                items: [
                  {
                    value: "No",
                    text: "No"
                  },
                  {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                    html: appointmentSelection
                  }
                  }
                ]
              }) }}


                <div class="moj-button-group">
                  {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: "true",
                    type: "submit",
                    attributes: {
                      id: "continue-button"
                    }
                  }) }}
                  {{ govukButton({
                    text: "Refresh from Delius",
                    preventDoubleClick: "true",
                    type: "submit",
                    name: "action",
                    value: "refreshData",
                    classes: "govuk-button--secondary",
                    attributes: {
                      id: "refresh-button"
                    }
                  }) }}
                  {{ govukButton({
                    text: "Save Progress and Close",
                    type: "submit",
                    name: "action",
                    value: "saveProgressAndClose",
                    classes: "govuk-button--secondary",
                    attributes: {
                      id: "close-button"
                    }
                  }) }}
                </div>
            </div>
        </div>

    </form>
{% endblock %}
