{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set mainClasses = "govuk-main-wrapper--l" %}

            {{ govukPanel({
              titleText: breachNotice.id + " Report Published",
              html: "Your Breach Report has been completed and uploaded."
            }) }}

            <h2 class="govuk-heading-m">What to do next</h2>

            <p class="govuk-body">
              Review and print your Breach Notice letter<br>
              <a href="{{ '/report-print/' + breachNotice.id }}" class="govuk-link">View your completed PDF letter</a>
            </p>

            <p class="govuk-body">
              Create a new version of this letter<br>
              <a href="#" class="govuk-link">Create new letter</a>
            </p>

            <p class="govuk-body">
                Delete this report<br>
                <a href="{{ '/report-deleted/' + breachNotice.id }}" class="govuk-link">Delete this report</a>
            </p>

    </div>
  </div>

{% endblock %}