{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
  {% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
  {% from "govuk/components/table/macro.njk" import govukTable %}

<form method="post">

{% set errorList =[
    { text: errorMessages.pdfRenderError.text } if errorMessages.pdfRenderError else None
  ] | reject("undefined") %}

  {% if errorMessages | length > 0 %}
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
  {% endif %}

  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Basic details',
          href: '/basic-details/'+breachNotice.id
        }, {
          text: 'Warning type',
          href: '/warning-type/'+breachNotice.id,
          active: true
        }, {
          text: 'Warning details',
          href: '/warning-details/'+breachNotice.id
        }, {
          text: 'Next appointment',
          href: '/next-appointment/'+breachNotice.id
        }, {
          text: 'Check your answers',
          href: '/check-your-report/'+breachNotice.id
        }]
      }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-x1">Breach Notice - Warning Type</h1>

      {{ govukRadios({
        name: "warningType",
        fieldset: {
          legend: {
            text: "Select a Warning Type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: warningTypeRadioButtons
      }) }}



      {{ mojButtonMenu({
        items: [{
          text: "Continue",
          type: "submit",
          preventDoubleClick: "true"
        }, {
          text: "View Draft Report",
          classes: "govuk-button--secondary",
          preventDoubleClick: "true",
          type: "submit",
          name: "action",
          value: "viewDraft"
        }, {
          text: "Close",
          href: "/basic-details/"+breachNotice.id,
          classes: "govuk-button--secondary",
          preventDoubleClick: "true"
        }]
      }) }}

    </div>
  </div>
</form>
{% endblock %}
