{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + breachNotice.breachNoticeTypeDescription + " Details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

 <p>placeholder</p>

{% endblock %}
