{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
  {% from "govuk/components/table/macro.njk" import govukTable %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}

  <form method="post">
    {% set errorList =[
      { text: errorMessages.warningType.text, href: "#warning-type" } if errorMessages.warningType else None,
      { text: errorMessages.sentenceType.text, href: "#sentence-type" } if errorMessages.sentenceType else None,
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        {% include "pages/side-nav.njk" %}

      </div>

      <div class="govuk-grid-column-two-thirds">
        {% if not showEmbeddedError %}
        {% include "partials/review-required.njk" %}

        <h1 class="govuk-heading-x1">Breach Notice - Warning Type</h1>

        {{ govukRadios({
          id: "warning-type",
          name: "warningType",
          fieldset: {
            legend: {
              text: "Select a Warning Type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: warningTypeRadioButtons,
          errorMessage: {
            text: errorMessages.warningType.text
          } if errorMessages.warningType.text
        }) }}

        {{ govukSelect({
          id: "sentence-type",
          name: "sentenceType",
          label: {
            text: "Select the Sentence Type being enforced",
            classes: "govuk-fieldset__legend--m"
          },
          items: sentenceTypeSelectItems,
          errorMessage: {
            text: errorMessages.sentenceType.text
          } if errorMessages.sentenceType.text
        }) }}

        <div class="moj-button-group">
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: "true",
            type: "submit",
            attributes: {
              id: "continue-button"
            }
          }) }}
          {{ govukButton({
            text: "Save Progress and Close",
            type: "submit",
            name: "action",
            value: "saveProgressAndClose",
            classes: "govuk-button--secondary",
            preventDoubleClick: "true",
            attributes: {
              id: "close-button"
            }
          }) }}
        </div>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
