{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + breachNotice.breachNoticeTypeDescription + " Details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

 {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
 {% from "govuk/components/radios/macro.njk" import govukRadios %}
 {% from "govuk/components/select/macro.njk" import govukSelect %}
 {% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
 {% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
 {% from "govuk/components/table/macro.njk" import govukTable %}
 {% from "govuk/components/input/macro.njk" import govukInput %}
 {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
 {% from "govuk/components/details/macro.njk" import govukDetails %}
 {% from "govuk/components/table/macro.njk" import govukTable %}

 <form method="post">
  {% set errorList =[
   { text: errorMessages.responseRequiredByDate.text, href: "#date-of-letter" } if errorMessages.dateOfLetter else None,
   { text: errorMessages.pdfRenderError.text } if errorMessages.pdfRenderError else None
  ] | reject("undefined") %}

  {% if errorMessages | length > 0 %}
   {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
   {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
  {% endif %}
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">



  {% set phoneHtml %}
   {{ govukInput({
    id: "contact-by-phone",
    name: "contactByPhone",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-one-third",
    label: {
     text: "Phone number"
    }
   }) }}
  {% endset -%}

  {% set govselectHtml %}
   {{ govukSelect({
    id: "sort",
    name: "sort",
    label: {
     text: "Reason"
    },
    items: [
     {
      value: "failed",
      text: "Failed to attend"
     },
     {
      value: "late",
      text: "Attended Late",
      selected: true
     },
     {
      value: "failedcomply",
      text: "Failed to comply"
     },
     {
      value: "touch",
      text: "Failed to keep in touch"
     }
    ]
   }) }}
  {% endset -%}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-one-third">
    {% include "pages/side-nav.njk" %}
   </div>
   <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-x1">{{ applicationName + " - " + breachNotice.breachNoticeTypeDescription + " Details" }}</h1>
    <h1 class="govuk-fieldset__legend--m">
     Condition being enforced
    </h1>
    {{ breachNotice.conditionBeingEnforced }}
    <br/><br/>




    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Failures recorded on this order
          </h1>
        </legend>
      {% for failure in enforceableContactRadioButtonList %}
        <div>
            {{ failure.text }}

            {{ govukDetails({
              summaryText: "View requirement notes",
              text: failure.notes
            }) }}
        </div>
      {% else %}
        <li>There are no failures recorded to display</li>
      {% endfor %}
      </fieldset>
    </div>







    <div class="govuk-form-group">
     <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
       <h1 class="govuk-fieldset__heading">
        Select the Failures being enforced
       </h1>
      </legend>
      <div id="contact-hint" class="govuk-hint">
       Select all that apply
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
       {% for requirement in requirementsList %}
        <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input"
                id="checkbox{{ requirement.value }}"
                name="failuresBeingEnforcedRequirements"
                type="checkbox"
                value="{{ requirement.value }}"
                data-aria-controls="hidden{{ requirement.value }}" >
         <label class="govuk-label govuk-checkboxes__label" for="checkbox{{ requirement.value }}">
          {{ requirement.text }}
         </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
             id="hidden{{ requirement.value }}">
         {{ govukSelect({
          id: "breachReason"+requirement.value,
          name: "breachreason"+requirement.value,
          label: {
           text: "Reason"
          },
          items: requirement.breachReasons
         }) }}
        </div>
       {% endfor %}
      </div>
     </fieldset>
    </div>

    {{ mojDatePicker({
     id: "responseRequiredByDate",
     name: "responseRequiredByDate",
     label: {
      text: "Response Required By",
      classes: "govuk-fieldset__legend--m"
     },
     hint: {
      text: "For example, 17/5/2024."
     },
     errorMessage: {
      text: errorMessages.responseRequiredByDate.text
     } if errorMessages.responseRequiredByDate.text
    }) }}

    {{ mojButtonMenu({
     items: [{
      text: "Continue",
      preventDoubleClick: "true",
      type: "submit"
     }, {
      text: "View Draft Report",
      classes: "govuk-button--secondary",
      preventDoubleClick: "true",
      type: "submit",
      name: "action",
      value: "viewDraft"
     }, {
      text: "Refresh from Delius",
      href: "#",
      classes: "govuk-button--secondary",
      preventDoubleClick: "true"
     }, {
      text: "Close",
      href: "/warning-type/"+breachNotice.id,
      classes: "govuk-button--secondary",
      preventDoubleClick: "true"
     }]
    }) }}

   </div>
  </div>
 </form>

{% endblock %}
